/data/ephemeral/home/level1-imageclassification-cv-12/data
*.JPEG
*.csv
/data/ephemeral/home/level1-imageclassification-cv-12/lightning_logs
/data/ephemeral/home/level1-imageclassification-cv-12/results
/data/ephemeral/home/level1-imageclassification-cv-12/wandb
*.DS_Store
*.ckpt*.jpg
/data/sketch/*.jpg
# 무시할 파일 및 디렉토리 패턴 추가
*.jpg
*.JPEG
*.csv
/data/sketch/*.jpg
/data/ephemeral/home/level1-imageclassification-cv-12/data/sketch/*
/data/ephemeral/home/level1-imageclassification-cv-12/lightning_logs/*
*.ckpt
*.pyc
hparams.yaml